{% extends 'base.html.twig' %}

{% block body %}

            <div class="alert alert-dismissible alert-info" style="text-align: center">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>The CV has been removed</strong>
                <a class="nav-link" href="{{ path(link) }}">To dashboard</a>
            </div>

{% endblock %}
{% block stylesheets %}

{% endblock %}
